################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/TankFlanker/.vs/mcraft/v15
/TankFlanker/TankFlanker/x64/Release
/TankFlanker/x64/Release
/TankFlanker/TankFlanker/x64/Debug
/TankFlanker/x64/Debug/mcraft.exe
/TankFlanker/x64/Debug
/.vs
/NormalMesh_NoLight_dx11/.vs/VisualStudio_2017用/v15
/NormalMesh_NoLight_dx11/x64/Debug
/NormalMesh_NoLight_dx9/.vs/VisualStudio_2017用/v15
/NormalMesh_NoLight_dx9/x64/Debug
/VolumeWater_dx9/.vs/VisualStudio_2017用/v15
/VolumeWater_dx9/x64/Debug
